In [84]:
import pandas as pd

train_df = pd.read_csv("./train.csv")
train_df.set_index("PassengerId", inplace=True)
train_df
#train_df.describe()
train_df['Pclass'].is_unique

False

In [71]:
extract_deck = lambda x: ("NaN" if pd.isnull(x) else x[0])
train_df['Deck'] = train_df['Cabin'].transform(extract_deck)
extract_room = lambda x: (np.NaN if pd.isnull(x) else float((x.split())[0][1:]))
train_df['Room'] = train_df['Cabin'].transform(extract_room)
train_df

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [70]:
train_df['Cabin'].str.split()[0]

KeyError: 0

In [21]:
test_df = pd.read_csv("./test.csv")
test_df.set_index("PassengerId", inplace=True)
test_df

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...
1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [43]:
test_df['Deck'] = test_df['Cabin'].transform(extract_deck)
test_df['Room'] = test_df['Cabin'].transform(extract_room)
test_df

KeyError: 'Cabin'

In [41]:
train_df.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
test_df.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
test_df

KeyError: "labels ['Name' 'Ticket' 'Cabin'] not contained in axis"

In [42]:
test_df

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Deck,Room
PassengerId,,,,,,,,,
892,3,male,34.500000,0,0,7.8292,Q,NaN,NaN
893,3,female,47.000000,1,0,7.0000,S,NaN,NaN
894,2,male,62.000000,0,0,9.6875,Q,NaN,NaN
895,3,male,27.000000,0,0,8.6625,S,NaN,NaN
896,3,female,22.000000,1,1,12.2875,S,NaN,NaN
897,3,male,14.000000,0,0,9.2250,S,NaN,NaN
898,3,female,30.000000,0,0,7.6292,Q,NaN,NaN
899,2,male,26.000000,1,1,29.0000,S,NaN,NaN
900,3,female,18.000000,0,0,7.2292,C,NaN,NaN
901,3,male,21.000000,2,0,24.1500,S,NaN,NaN
902,3,male,29.699118,0,0,7.8958,S,NaN,NaN
903,1,male,46.000000,0,0,26.0000,S,NaN,NaN
904,1,female,23.000000,1,0,82.2667,S,B,45
905,2,male,63.000000,1,0,26.0000,S,NaN,NaN
906,1,female,47.000000,1,0,61.1750,S,E,31
907,2,female,24.000000,1,0,27.7208,C,NaN,NaN
908,2,male,35.000000,0,0,12.3500,Q,NaN,NaN
909,3,male,21.000000,0,0,7.2250,C,NaN,NaN
910,3,female,27.000000,1,0,7.9250,S,NaN,NaN
911,3,female,45.000000,0,0,7.2250,C,NaN,NaN
912,1,male,55.000000,1,0,59.4000,C,NaN,NaN
913,3,male,9.000000,0,1,3.1708,S,NaN,NaN
914,1,female,29.699118,0,0,31.6833,S,NaN,NaN
915,1,male,21.000000,0,1,61.3792,C,NaN,NaN
916,1,female,48.000000,1,3,262.3750,C,B,57
917,3,male,50.000000,1,0,14.5000,S,NaN,NaN
918,1,female,22.000000,0,1,61.9792,C,B,36
919,3,male,22.500000,0,0,7.2250,C,NaN,NaN
920,1,male,41.000000,0,0,30.5000,S,A,21
921,3,male,29.699118,2,0,21.6792,C,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1280,3,male,21.000000,0,0,7.7500,Q,NaN,NaN
1281,3,male,6.000000,3,1,21.0750,S,NaN,NaN
1282,1,male,23.000000,0,0,93.5000,S,B,24
1283,1,female,51.000000,0,1,39.4000,S,D,28
1284,3,male,13.000000,0,2,20.2500,S,NaN,NaN
1285,2,male,47.000000,0,0,10.5000,S,NaN,NaN
1286,3,male,29.000000,3,1,22.0250,S,NaN,NaN
1287,1,female,18.000000,1,0,60.0000,S,C,31
1288,3,male,24.000000,0,0,7.2500,Q,NaN,NaN
1289,1,female,48.000000,1,1,79.2000,C,B,41
1290,3,male,22.000000,0,0,7.7750,S,NaN,NaN
1291,3,male,31.000000,0,0,7.7333,Q,NaN,NaN
1292,1,female,30.000000,0,0,164.8667,S,C,7
1293,2,male,38.000000,1,0,21.0000,S,NaN,NaN
1294,1,female,22.000000,0,1,59.4000,C,NaN,NaN
1295,1,male,17.000000,0,0,47.1000,S,NaN,NaN
1296,1,male,43.000000,1,0,27.7208,C,D,40
1297,2,male,20.000000,0,0,13.8625,C,D,38
1298,2,male,23.000000,1,0,10.5000,S,NaN,NaN
1299,1,male,50.000000,1,1,211.5000,C,C,80
1300,3,female,29.699118,0,0,7.7208,Q,NaN,NaN
1301,3,female,3.000000,1,1,13.7750,S,NaN,NaN
1302,3,female,29.699118,0,0,7.7500,Q,NaN,NaN
1303,1,female,37.000000,1,0,90.0000,Q,C,78
1304,3,female,28.000000,0,0,7.7750,S,NaN,NaN
1305,3,male,29.699118,0,0,8.0500,S,NaN,NaN
1306,1,female,39.000000,0,0,108.9000,C,C,105
1307,3,male,38.500000,0,0,7.2500,S,NaN,NaN
1308,3,male,29.699118,0,0,8.0500,S,NaN,NaN
1309,3,male,29.699118,1,1,22.3583,C,NaN,NaN

In [20]:
str_names = train_df.select_dtypes(include=[object]).columns
str_names
train_df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [24]:
train_df.isna().any()

Survived    False
Pclass      False
Sex         False
Age          True
SibSp       False
Parch       False
Fare        False
Embarked     True
Deck        False
Room        False
dtype: bool

In [44]:
train_df.fillna(train_df.mean(), inplace=True)
test_df.fillna(train_df.mean(), inplace=True)

In [29]:
train_df.isna().any()

Survived    False
Pclass      False
Sex         False
Age         False
SibSp       False
Parch       False
Fare        False
Embarked     True
Deck        False
Room        False
dtype: bool

In [45]:
test_df.isna().any()

Pclass      False
Sex         False
Age         False
SibSp       False
Parch       False
Fare        False
Embarked    False
Deck        False
Room        False
dtype: bool

In [48]:
test_df.dtypes

Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
Deck         object
Room         object
dtype: object

In [30]:
train_ohe = pd.get_dummies(train_df, prefix=None, prefix_sep='_', dummy_na=True, 
                   columns=None, sparse=False, drop_first=False, dtype=None)
train_ohe

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Sex_nan,Embarked_C,...,Room_90,Room_91,Room_92,Room_93,Room_94,Room_95,Room_96,Room_99,Room_NaN,Room_nan
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0,3,22.000000,1,0,7.2500,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,1,1,38.000000,1,0,71.2833,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,3,26.000000,0,0,7.9250,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1,1,35.000000,1,0,53.1000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,3,35.000000,0,0,8.0500,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
6,0,3,29.699118,0,0,8.4583,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
7,0,1,54.000000,0,0,51.8625,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,3,2.000000,3,1,21.0750,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
9,1,3,27.000000,0,2,11.1333,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10,1,2,14.000000,1,0,30.0708,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
11,1,3,4.000000,1,1,16.7000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,1,58.000000,0,0,26.5500,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,3,20.000000,0,0,8.0500,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
14,0,3,39.000000,1,5,31.2750,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
15,0,3,14.000000,0,0,7.8542,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16,1,2,55.000000,0,0,16.0000,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
17,0,3,2.000000,4,1,29.1250,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
18,1,2,29.699118,0,0,13.0000,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
19,0,3,31.000000,1,0,18.0000,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
20,1,3,29.699118,0,0,7.2250,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
21,0,2,35.000000,0,0,26.0000,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
22,1,2,34.000000,0,0,13.0000,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
23,1,3,15.000000,0,0,8.0292,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24,1,1,28.000000,0,0,35.5000,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,3,8.000000,3,1,21.0750,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26,1,3,38.000000,1,5,31.3875,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
27,0,3,29.699118,0,0,7.2250,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
28,0,1,19.000000,3,2,263.0000,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29,1,3,29.699118,0,0,7.8792,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30,0,3,29.699118,0,0,7.8958,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,21.000000,1,0,11.5000,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
863,1,1,48.000000,0,0,25.9292,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
864,0,3,29.699118,8,2,69.5500,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
865,0,2,24.000000,0,0,13.0000,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
866,1,2,42.000000,0,0,13.0000,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
867,1,2,27.000000,1,0,13.8583,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
868,0,1,31.000000,0,0,50.4958,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
869,0,3,29.699118,0,0,9.5000,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
870,1,3,4.000000,1,1,11.1333,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
871,0,3,26.000000,0,0,7.8958,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
872,1,1,47.000000,1,1,52.5542,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
873,0,1,33.000000,0,0,5.0000,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
874,0,3,47.000000,0,0,9.0000,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
875,1,2,28.000000,1,0,24.0000,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
876,1,3,15.000000,0,0,7.2250,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
877,0,3,20.000000,0,0,9.8458,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
878,0,3,19.000000,0,0,7.8958,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
879,0,3,29.699118,0,0,7.8958,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
880,1,1,56.000000,0,1,83.1583,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
881,1,2,25.000000,0,1,26.0000,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
882,0,3,33.000000,0,0,7.8958,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
883,0,3,22.000000,0,0,10.5167,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
884,0,2,28.000000,0,0,10.5000,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
885,0,3,25.000000,0,0,7.0500,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
886,0,3,39.000000,0,5,29.1250,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
887,0,2,27.000000,0,0,13.0000,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
888,1,1,19.000000,0,0,30.0000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
889,0,3,29.699118,1,2,23.4500,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
890,1,1,26.000000,0,0,30.0000,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
891,0,3,32.000000,0,0,7.7500,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [47]:
test_ohe = pd.get_dummies(test_df, prefix=None, prefix_sep='_', dummy_na=True, 
                   columns=None, sparse=False, drop_first=False, dtype=None)
test_ohe

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Sex_nan,Embarked_C,Embarked_Q,...,Room_71,Room_78,Room_80,Room_85,Room_86,Room_89,Room_9,Room_97,Room_NaN,Room_nan
PassengerId,,,,,,,,,,,,,,,,,,,,,
892,3,34.500000,0,0,7.8292,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
893,3,47.000000,1,0,7.0000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
894,2,62.000000,0,0,9.6875,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
895,3,27.000000,0,0,8.6625,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
896,3,22.000000,1,1,12.2875,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
897,3,14.000000,0,0,9.2250,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
898,3,30.000000,0,0,7.6292,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
899,2,26.000000,1,1,29.0000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
900,3,18.000000,0,0,7.2292,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
901,3,21.000000,2,0,24.1500,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
902,3,29.699118,0,0,7.8958,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
903,1,46.000000,0,0,26.0000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
904,1,23.000000,1,0,82.2667,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
905,2,63.000000,1,0,26.0000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
906,1,47.000000,1,0,61.1750,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
907,2,24.000000,1,0,27.7208,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
908,2,35.000000,0,0,12.3500,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
909,3,21.000000,0,0,7.2250,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
910,3,27.000000,1,0,7.9250,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
911,3,45.000000,0,0,7.2250,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
912,1,55.000000,1,0,59.4000,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
913,3,9.000000,0,1,3.1708,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
914,1,29.699118,0,0,31.6833,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
915,1,21.000000,0,1,61.3792,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
916,1,48.000000,1,3,262.3750,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
917,3,50.000000,1,0,14.5000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
918,1,22.000000,0,1,61.9792,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
919,3,22.500000,0,0,7.2250,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
920,1,41.000000,0,0,30.5000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
921,3,29.699118,2,0,21.6792,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280,3,21.000000,0,0,7.7500,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1281,3,6.000000,3,1,21.0750,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1282,1,23.000000,0,0,93.5000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1283,1,51.000000,0,1,39.4000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1284,3,13.000000,0,2,20.2500,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1285,2,47.000000,0,0,10.5000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1286,3,29.000000,3,1,22.0250,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1287,1,18.000000,1,0,60.0000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1288,3,24.000000,0,0,7.2500,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1289,1,48.000000,1,1,79.2000,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1290,3,22.000000,0,0,7.7750,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1291,3,31.000000,0,0,7.7333,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1292,1,30.000000,0,0,164.8667,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1293,2,38.000000,1,0,21.0000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1294,1,22.000000,0,1,59.4000,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1295,1,17.000000,0,0,47.1000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1296,1,43.000000,1,0,27.7208,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1297,2,20.000000,0,0,13.8625,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1298,2,23.000000,1,0,10.5000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1299,1,50.000000,1,1,211.5000,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
1300,3,29.699118,0,0,7.7208,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1301,3,3.000000,1,1,13.7750,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1302,3,29.699118,0,0,7.7500,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1303,1,37.000000,1,0,90.0000,1,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
1304,3,28.000000,0,0,7.7750,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1305,3,29.699118,0,0,8.0500,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1306,1,39.000000,0,0,108.9000,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1307,3,38.500000,0,0,7.2500,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1308,3,29.699118,0,0,8.0500,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1309,3,29.699118,1,1,22.3583,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [10]:
train_ohe.isna().any()

Survived        False
Pclass          False
Age             False
SibSp           False
Parch           False
Fare            False
Sex_female      False
Sex_male        False
Sex_nan         False
Embarked_C      False
Embarked_Q      False
Embarked_S      False
Embarked_nan    False
dtype: bool

In [22]:
DONT EXECUTE THIS FOR OHE
from sklearn.preprocessing import LabelEncoder
import numpy as np

enc = LabelEncoder()

str_names = train_df.select_dtypes(include=[object]).columns
for var in str_names:
    new_classes = set(test_df[var].values) - set(train_df[var].values) 
    test_df.loc[test_df[var].isin(new_classes), var] = np.nan

    train_df[var] = enc.fit_transform(train_df[var])
    
    test_df[var] = enc.transform(test_df[var])
    #train_df[new_name].isna().any()
    #train_df[name].value_counts()
train_df

             Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
PassengerId
1                   0       3    1  22.0      1      0    7.2500         3
2                   1       1    0  38.0      1      0   71.2833         0
3                   1       3    0  26.0      0      0    7.9250         3
4                   1       1    0  35.0      1      0   53.1000         3
5                   0       3    1  35.0      0      0    8.0500         3
6                   0       3    1   NaN      0      0    8.4583         2
7                   0       1    1  54.0      0      0   51.8625         3
8                   0       3    1   2.0      3      1   21.0750         3
9                   1       3    0  27.0      0      2   11.1333         3
10                  1       2    0  14.0      1      0   30.0708         0
11                  1       3    0   4.0      1      1   16.7000         3
12                  1       1    0  58.0      0      0   26.5500         3
13                  0       3    1  20.0      0      0    8.0500         3
14                  0       3    1  39.0      1      5   31.2750         3
15                  0       3    0  14.0      0      0    7.8542         3
16                  1       2    0  55.0      0      0   16.0000         3
17                  0       3    1   2.0      4      1   29.1250         2
18                  1       2    1   NaN      0      0   13.0000         3
19                  0       3    0  31.0      1      0   18.0000         3
20                  1       3    0   NaN      0      0    7.2250         0
21                  0       2    1  35.0      0      0   26.0000         3
22                  1       2    1  34.0      0      0   13.0000         3
23                  1       3    0  15.0      0      0    8.0292         2
24                  1       1    1  28.0      0      0   35.5000         3
25                  0       3    0   8.0      3      1   21.0750         3
26                  1       3    0  38.0      1      5   31.3875         3
27                  0       3    1   NaN      0      0    7.2250         0
28                  0       1    1  19.0      3      2  263.0000         3
29                  1       3    0   NaN      0      0    7.8792         2
30                  0       3    1   NaN      0      0    7.8958         3
...               ...     ...  ...   ...    ...    ...       ...       ...
862                 0       2    1  21.0      1      0   11.5000         3
863                 1       1    0  48.0      0      0   25.9292         3
864                 0       3    0   NaN      8      2   69.5500         3
865                 0       2    1  24.0      0      0   13.0000         3
866                 1       2    0  42.0      0      0   13.0000         3
867                 1       2    0  27.0      1      0   13.8583         0
868                 0       1    1  31.0      0      0   50.4958         3
869                 0       3    1   NaN      0      0    9.5000         3
870                 1       3    1   4.0      1      1   11.1333         3
871                 0       3    1  26.0      0      0    7.8958         3
872                 1       1    0  47.0      1      1   52.5542         3
873                 0       1    1  33.0      0      0    5.0000         3
874                 0       3    1  47.0      0      0    9.0000         3
875                 1       2    0  28.0      1      0   24.0000         0
876                 1       3    0  15.0      0      0    7.2250         0
877                 0       3    1  20.0      0      0    9.8458         3
878                 0       3    1  19.0      0      0    7.8958         3
879                 0       3    1   NaN      0      0    7.8958         3
880                 1       1    0  56.0      0      1   83.1583         0
881                 1       2    0  25.0      0      1   26.0000         3
882                 0       3    1  33.0      0      0    7.8958         3
883                 0       3    0  22.0      0      0   10.5167         3
884                 0       2    1  28.0      0      0   10.5000         3
885                 0       3    1  25.0      0      0    7.0500         3
886                 0       3    0  39.0      0      5   29.1250         2
887                 0       2    1  27.0      0      0   13.0000         3
888                 1       1    0  19.0      0      0   30.0000         3
889                 0       3    0   NaN      1      2   23.4500         3
890                 1       1    1  26.0      0      0   30.0000         0
891                 0       3    1  32.0      0      0    7.7500         2

[891 rows x 8 columns]

Need to add NaN column for 'Age' & 'Fare' -- DONE

In [44]:
DONT EXECUTE THIS FOR OHE
from sklearn import preprocessing

lab_enc = preprocessing.LabelEncoder()

for var in ['Age', 'Fare']:
    na_col = var + '_isNA'
    train_df[na_col] = pd.isnull(train_df[var]) #.notnull() #apply(lambda row: row[var].isna(), axis=1)
    test_df[na_col] = pd.isnull(test_df[var]) #.notnull() #apply(lambda row: row[var].isna(), axis=1)

    lab_enc.fit(train_df[na_col])
    train_df[na_col] = lab_enc.transform(train_df[na_col])
    lab_enc.fit(test_df[na_col])
    test_df[na_col] = lab_enc.transform(test_df[na_col])

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Age_isNA,Fare_isNA
PassengerId,,,,,,,,,
892,3,1,34.5,0,0,7.8292,2,0,0
893,3,0,47.0,1,0,7.0000,3,0,0
894,2,1,62.0,0,0,9.6875,2,0,0
895,3,1,27.0,0,0,8.6625,3,0,0
896,3,0,22.0,1,1,12.2875,3,0,0
897,3,1,14.0,0,0,9.2250,3,0,0
898,3,0,30.0,0,0,7.6292,2,0,0
899,2,1,26.0,1,1,29.0000,3,0,0
900,3,0,18.0,0,0,7.2292,0,0,0
901,3,1,21.0,2,0,24.1500,3,0,0
902,3,1,NaN,0,0,7.8958,3,1,0
903,1,1,46.0,0,0,26.0000,3,0,0
904,1,0,23.0,1,0,82.2667,3,0,0
905,2,1,63.0,1,0,26.0000,3,0,0
906,1,0,47.0,1,0,61.1750,3,0,0
907,2,0,24.0,1,0,27.7208,0,0,0
908,2,1,35.0,0,0,12.3500,2,0,0
909,3,1,21.0,0,0,7.2250,0,0,0
910,3,0,27.0,1,0,7.9250,3,0,0
911,3,0,45.0,0,0,7.2250,0,0,0
912,1,1,55.0,1,0,59.4000,0,0,0
913,3,1,9.0,0,1,3.1708,3,0,0
914,1,0,NaN,0,0,31.6833,3,1,0
915,1,1,21.0,0,1,61.3792,0,0,0
916,1,0,48.0,1,3,262.3750,0,0,0
917,3,1,50.0,1,0,14.5000,3,0,0
918,1,0,22.0,0,1,61.9792,0,0,0
919,3,1,22.5,0,0,7.2250,0,0,0
920,1,1,41.0,0,0,30.5000,3,0,0
921,3,1,NaN,2,0,21.6792,0,1,0
...,...,...,...,...,...,...,...,...,...
1280,3,1,21.0,0,0,7.7500,2,0,0
1281,3,1,6.0,3,1,21.0750,3,0,0
1282,1,1,23.0,0,0,93.5000,3,0,0
1283,1,0,51.0,0,1,39.4000,3,0,0
1284,3,1,13.0,0,2,20.2500,3,0,0
1285,2,1,47.0,0,0,10.5000,3,0,0
1286,3,1,29.0,3,1,22.0250,3,0,0
1287,1,0,18.0,1,0,60.0000,3,0,0
1288,3,1,24.0,0,0,7.2500,2,0,0
1289,1,0,48.0,1,1,79.2000,0,0,0
1290,3,1,22.0,0,0,7.7750,3,0,0
1291,3,1,31.0,0,0,7.7333,2,0,0
1292,1,0,30.0,0,0,164.8667,3,0,0
1293,2,1,38.0,1,0,21.0000,3,0,0
1294,1,0,22.0,0,1,59.4000,0,0,0
1295,1,1,17.0,0,0,47.1000,3,0,0
1296,1,1,43.0,1,0,27.7208,0,0,0
1297,2,1,20.0,0,0,13.8625,0,0,0
1298,2,1,23.0,1,0,10.5000,3,0,0
1299,1,1,50.0,1,1,211.5000,0,0,0
1300,3,0,NaN,0,0,7.7208,2,1,0
1301,3,0,3.0,1,1,13.7750,3,0,0
1302,3,0,NaN,0,0,7.7500,2,1,0
1303,1,0,37.0,1,0,90.0000,2,0,0
1304,3,0,28.0,0,0,7.7750,3,0,0
1305,3,1,NaN,0,0,8.0500,3,1,0
1306,1,0,39.0,0,0,108.9000,0,0,0
1307,3,1,38.5,0,0,7.2500,3,0,0
1308,3,1,NaN,0,0,8.0500,3,1,0
1309,3,1,NaN,1,1,22.3583,0,1,0

Sklearn in general cannot handle missing values (NaN's)

In [32]:
Y_train = train_ohe['Survived']
X_train = train_ohe.drop(['Survived'], axis=1)
X_train.isna().any()

Pclass          False
Age             False
SibSp           False
Parch           False
Fare            False
Sex_female      False
Sex_male        False
Sex_nan         False
Embarked_C      False
Embarked_Q      False
Embarked_S      False
Embarked_nan    False
Deck_A          False
Deck_B          False
Deck_C          False
Deck_D          False
Deck_E          False
Deck_F          False
Deck_G          False
Deck_NaN        False
Deck_T          False
Deck_nan        False
Room_           False
Room_10         False
Room_101        False
Room_102        False
Room_103        False
Room_104        False
Room_106        False
Room_11         False
                ...
Room_63         False
Room_65         False
Room_67         False
Room_68         False
Room_69         False
Room_7          False
Room_70         False
Room_71         False
Room_73         False
Room_77         False
Room_78         False
Room_79         False
Room_8          False
Room_80         False
Room_82         False
Room_83         False
Room_85         False
Room_86         False
Room_87         False
Room_9          False
Room_90         False
Room_91         False
Room_92         False
Room_93         False
Room_94         False
Room_95         False
Room_96         False
Room_99         False
Room_NaN        False
Room_nan        False
Length: 117, dtype: bool

In [39]:
X_train

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Sex_nan,Embarked_C,Embarked_Q,...,Room_90,Room_91,Room_92,Room_93,Room_94,Room_95,Room_96,Room_99,Room_NaN,Room_nan
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,3,22.000000,1,0,7.2500,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,1,38.000000,1,0,71.2833,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,3,26.000000,0,0,7.9250,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1,35.000000,1,0,53.1000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,3,35.000000,0,0,8.0500,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,3,29.699118,0,0,8.4583,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
7,1,54.000000,0,0,51.8625,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,3,2.000000,3,1,21.0750,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,3,27.000000,0,2,11.1333,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10,2,14.000000,1,0,30.0708,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
11,3,4.000000,1,1,16.7000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,58.000000,0,0,26.5500,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,3,20.000000,0,0,8.0500,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14,3,39.000000,1,5,31.2750,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15,3,14.000000,0,0,7.8542,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16,2,55.000000,0,0,16.0000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
17,3,2.000000,4,1,29.1250,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
18,2,29.699118,0,0,13.0000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19,3,31.000000,1,0,18.0000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
20,3,29.699118,0,0,7.2250,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
21,2,35.000000,0,0,26.0000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
22,2,34.000000,0,0,13.0000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,3,15.000000,0,0,8.0292,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
24,1,28.000000,0,0,35.5000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,3,8.000000,3,1,21.0750,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26,3,38.000000,1,5,31.3875,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
27,3,29.699118,0,0,7.2250,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
28,1,19.000000,3,2,263.0000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,3,29.699118,0,0,7.8792,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
30,3,29.699118,0,0,7.8958,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,2,21.000000,1,0,11.5000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
863,1,48.000000,0,0,25.9292,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
864,3,29.699118,8,2,69.5500,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
865,2,24.000000,0,0,13.0000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
866,2,42.000000,0,0,13.0000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
867,2,27.000000,1,0,13.8583,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
868,1,31.000000,0,0,50.4958,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
869,3,29.699118,0,0,9.5000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
870,3,4.000000,1,1,11.1333,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
871,3,26.000000,0,0,7.8958,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
872,1,47.000000,1,1,52.5542,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
873,1,33.000000,0,0,5.0000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
874,3,47.000000,0,0,9.0000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
875,2,28.000000,1,0,24.0000,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
876,3,15.000000,0,0,7.2250,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
877,3,20.000000,0,0,9.8458,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
878,3,19.000000,0,0,7.8958,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
879,3,29.699118,0,0,7.8958,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
880,1,56.000000,0,1,83.1583,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
881,2,25.000000,0,1,26.0000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
882,3,33.000000,0,0,7.8958,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
883,3,22.000000,0,0,10.5167,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
884,2,28.000000,0,0,10.5000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
885,3,25.000000,0,0,7.0500,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
886,3,39.000000,0,5,29.1250,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
887,2,27.000000,0,0,13.0000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
888,1,19.000000,0,0,30.0000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
889,3,29.699118,1,2,23.4500,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
890,1,26.000000,0,0,30.0000,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
891,3,32.000000,0,0,7.7500,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [38]:
Y_train

PassengerId
1      0
2      1
3      1
4      1
5      0
6      0
7      0
8      0
9      1
10     1
11     1
12     1
13     0
14     0
15     0
16     1
17     0
18     1
19     0
20     1
21     0
22     1
23     1
24     1
25     0
26     1
27     0
28     0
29     1
30     0
      ..
862    0
863    1
864    0
865    0
866    1
867    1
868    0
869    0
870    1
871    0
872    1
873    0
874    0
875    1
876    1
877    0
878    0
879    0
880    1
881    1
882    0
883    0
884    0
885    0
886    0
887    0
888    1
889    0
890    1
891    0
Name: Survived, Length: 891, dtype: int64

In [34]:
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import RandomizedSearchCV

from time import time
from scipy.stats import randint as sp_randint

In [35]:
max_titanic_features = 116

# try one-hot encoding on categorical variables - DONE
# missing values NaN boolean column - DONE
# try XGBoost - LATER

# build classifiers
clf = RandomForestClassifier(n_estimators=2000)  # change max_depth; try defaults w/2000 estimators
clf_params = {"max_depth": [3, 7, 13, 19, 31, 47, 71, 97], "max_features": sp_randint(1, max_titanic_features),
              "min_samples_split": sp_randint(2, max_titanic_features), "bootstrap": [True, False],
              "criterion": ["gini", "entropy"]}

gbc = GradientBoostingClassifier(n_estimators=1000)
gbc_params = {"max_depth": [3, 4, 5, 6, 7], "max_features": sp_randint(1, max_titanic_features),
              "min_samples_split": sp_randint(2, 10), # need at least this to split
              "criterion": ['friedman_mse', 'mse', 'mae'], "learning_rate" : [0.01, 0.03, 0.1, 0.3, 1.0],
              "loss" : ['deviance', 'exponential']}

knc = KNeighborsClassifier()
knc_params = {"n_neighbors": [3, 5, 7, 9],
              "weights": ['uniform', 'distance'],
              "algorithm": ['auto', 'ball_tree', 'kd_tree', 'brute'],
              "metric": ['euclidean', 'manhattan', 'chebyshev', 'minkowski']}

model = clf
param_dist = clf_params

# Utility function to report best scores
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")


# specify parameters and distributions to sample from

# run randomized search
n_iter_search = 1000  # increased from 100
random_search = RandomizedSearchCV(model, param_distributions=param_dist, n_iter=n_iter_search, cv=5)

start = time()
random_search.fit(X_train, Y_train)
print("RandomizedSearchCV took %.2f seconds for %d candidates"
      " parameter settings." % ((time() - start), n_iter_search))
report(random_search.cv_results_)

RandomizedSearchCV took 60987.94 seconds for 1000 candidates parameter settings.
Model with rank: 1
Mean validation score: 0.834 (std: 0.025)
Parameters: {'bootstrap': True, 'criterion': 'entropy', 'max_depth': 19, 'max_features': 75, 'min_samples_split': 8}

Model with rank: 1
Mean validation score: 0.834 (std: 0.028)
Parameters: {'bootstrap': True, 'criterion': 'entropy', 'max_depth': 31, 'max_features': 103, 'min_samples_split': 10}

Model with rank: 3
Mean validation score: 0.833 (std: 0.028)
Parameters: {'bootstrap': True, 'criterion': 'gini', 'max_depth': 71, 'max_features': 61, 'min_samples_split': 9}

Model with rank: 3
Mean validation score: 0.833 (std: 0.021)
Parameters: {'bootstrap': True, 'criterion': 'gini', 'max_depth': 7, 'max_features': 110, 'min_samples_split': 2}

In [36]:
final_model = RandomForestClassifier(bootstrap=True, criterion='entropy', max_depth=19, 
                                     max_features=75, min_samples_split=8)
final_model.fit(X_train, Y_train)
pred = final_model.predict(test_ohe)
pred
res = pd.DataFrame(pred, index=test_ohe.index, columns=['Survived'])
file_name = './titanic_submission_' + 'RandomForestClassifierOHE_5' + '.csv'
res.to_csv(file_name)

ValueError: Number of features of the model must match the input. Model n_features is 117 and input n_features is 80

In [ ]:
Get into the Kaggle Titanic Kernels...